* {
    font-family: arial;
}

h3 {
    font-size: 2.5em;
}

h5 {
    font-size: 1.5em;
}



section {
    display: inline-block;
    border: 2px solid black;
    margin: 0 1em 1em 0;
    padding: 1em;
}

.na {
    background-color: green;
}
.sa {
    background-color: blue;
}
.asia {
    background-color: purple;
}
.antarctica {
    background-color: yellow;
}
.europe {
    background-color: orange;
}
.africa {
    background-color: red;
}
.australia {
    background-color: brown;
}